<sw-post date="2024/12/11" keywords="" title="Xtmpl 1.0.0" topics="release">
<p>
Release 1.0.0 of Xtmpl is available from the
<sw-page href="/download">Download page</sw-page>.
</p>
<sep_/>
<p>Changes:</p>
<ul id="changes">
<li>refactoring to use functors to create tree and documents, depending
  on representation of attributes.
  This leads to some API Changes (mostly things moving from
  modules Xml or Rewrite to module Types).
</li>
<li>provide mappers to map between trees of different types.</li>
</ul>
</sw-post>
