<sw-post title="Xtmpl 0.12"
date="2015/03/30"
keywords="js"
published="true"
topics="release"
>
<p>
Release 0.12 of Xtmpl is available from
the <doc href="download">download page</doc>.
</p>
<sep_/>
<p>Changes:</p>
<ul id="changes">
 <li>fix <a href="refdoc/xtmpl_js/Xtmpl_js/index.html#VALdom_of_xtmpl">Xtmpl_js.dom_of_xtml</a>
    to unescape xml in attributes, using Regexp module of Js_of_ocaml.</li>
</ul>
</sw-post>
