<sw-post date="2015/11/24" keywords="" title="Xtmpl 0.13.0" topics="release">
<p>
Release 0.13.0 of Xtmpl is available from the
<sw-page href="/download">Download page</sw-page>.
</p>
<sep_/>
<p>Changes:</p>
<ul id="changes">
<li>include its own XML parser, keeping locations (do not depend on Xmlm any more
  but now require sedlex and uutf packages),</li>
<li>big interface change (with modules
<a href="refdoc/xtmpl/Xtmpl/Xml">Xtmpl.Xml</a>,
<a href="refdoc/xtmpl/Xtmpl/Rewrite">Xtmpl.Rewrite</a>, ...),</li>
<li>new package <code>xtmpl.ppx</code> (ppx instruction for ocamlfind not
  included in <code>xtmpl</code> package any more),</li>
<li>no more use of of <code>main_</code> tag.</li>
</ul>
</sw-post>
