<sw-post date="2018/07/04" keywords="" title="Xtmpl 0.17.0" topics="release">
<p>
Release 0.17.0 of Xtmpl is available from the
<sw-page href="/download">Download page</sw-page>.
</p>
<sep_/>
<p>Changes:</p>
<ul id="changes">
<li>use <code>js_of_ocaml.ppx</code> instead of camlp4 extension</li>
<li>use <code>-g</code> flag everywhere</li>
<li>environments now handle and resolve namespaces
  (except default namespaces)</li>
<li>depend on ocaml-iri.</li>
</ul>
</sw-post>
