<sw-post date="2021/11/25" keywords="" title="Xtmpl 0.19.0" topics="release">
<p>
Release 0.19.0 of Xtmpl is available from the
<sw-page href="/download">Download page</sw-page>.
</p>
<sep_/>
<p>Changes:</p>
<ul id="changes">
<li>use dune to build and install;</li>
<li>modules renamed, with namespace Xtmpl and submodules Rewrite, Xml, ...;</li>
<li>packages renamed: xtmpl.ppx -&gt; xtmpl_ppx, xtmpl.js -&gt; xtmpl_js;</li>
<li>add <code>ignore_unclosed</code> to <code>parse_param</code> to authorize
  more parsing with tags not closed (default is false);</li>
<li>names in <code>parse_param.self_closing</code> are now lowercase_ascii'ed
  before comparison.</li>
</ul>
</sw-post>
