<sw-post date="2021/05/10" keywords="" title="Xtmpl 0.18.0" topics="release">
<p>
Release 0.18.0 of Xtmpl is available from the
<sw-page href="/download">Download page</sw-page>.
</p>
<sep_/>
<p>Changes:</p>
<ul id="changes">
<li>upgrade to OCaml 4.12.0;</li>
<li>reference entities to unescape when parsing can be specified
  in the <code>?param</code> parameter. HTML entities are available with
  <code>Xtmpl_xml.html_entities</code>;</li>
<li>functions reading xml take a set of unqualified tag names
  considered as selfclosing; this is useful to parse HTML.</li>
</ul>
</sw-post>
