<sw-page navbar-download="active"
title="Download and installation"
with-contents="true"
>
<release_ version="">
<if version=""><error_>&lt;release&gt;: missing version</error_></if>
<li><a href="https://framagit.org/zoggy/xtmpl/-/archive/&lt;version/&gt;/xtmpl-&lt;version/&gt;.tar.gz"><version/></a>
<span class="date">[<doc-date doc-path="release-&lt;version/&gt;"/>]</span>
<late-inc href="release-&lt;version/&gt;#changes"
id="changes-&lt;version/&gt;"/>
</li>
</release_>

<release version="">
<if version=""><error_>&lt;release&gt;: missing version</error_></if>
<li><a href="&lt;site-url/&gt;/releases/xtmpl-&lt;version/&gt;.tar.bz2"><version/></a>
<span class="date">[<doc-date doc-path="release-&lt;version/&gt;"/>]</span>
<late-inc href="release-&lt;version/&gt;#changes"
id="changes-&lt;version/&gt;"/>
</li>
</release>

<contents>
<prepare-toc depth="2">
<toc/>

<section id="opam" title="Quick install with Opam">
<p>
The easiest way to install is to use <ext-a href="http://opam.ocaml.org">OPAM</ext-a>.
Install Opam, then, as a regular user, fetch and install an OCaml version and install
Xtmpl.
The whole can be done with the following opam commands:
</p>
<command-line>
$ opam init --comp=4.12.0
$ opam update
$ opam install xtmpl xtmpl_ppx xtmpl_js
</command-line>
</section>

<section id="deps" title="Dependencies">
<p>
To build Xtmpl, you will need:
</p>
<ul>
<li><ext-a href="http://caml.inria.fr/">OCaml &gt;= 4.12.0</ext-a>,</li>
<li><ext-a href="http://erratique.ch/software/uutf">Uutf >= 1.0.0</ext-a>,</li>
<li><ext-a href="https://github.com/ocaml-community/sedlex">Sedlex &gt;=2.3</ext-a>,</li>
<li><ext-a href="https://github.com/ocaml-ppx/ppxlib/">Ppxlib &gt;= 0.23.0</ext-a>,</li>
<li><ext-a href="http://ocsigen.org/js_of_ocaml/">Js_of_ocaml >= 5.8.2</ext-a>,</li>
<li><ext-a href="https://github.com/ocaml/ocaml-re/">OCaml-re >= 1.10.3</ext-a>.</li>
<li><ext-a href="https://framagit.org/zoggy/ocaml-iri/">OCaml-iri >= 1.0.0</ext-a>.</li>
</ul>
</section>

<section id="download" title="From the sources">
<p>Get the sources from git repository:</p>
<command-line>$ git clone https://framagit.org/zoggy/xtmpl.git</command-line>

<p>Or pick one of the releases:</p>
<ul>
<release version="1.0.0"/>
<release_ version="0.19.0"/>
<release_ version="0.18.0"/>
<release_ version="0.17.0"/>
<release_ version="0.16.0"/>
<release_ version="0.15.0"/>
<release_ version="0.14.0"/>
<release_ version="0.13.0"/>
<release_ version="0.12"/>
<release_ version="0.11"/>
</ul>

<subsection id="compilation" title="Compilation">
<p>
Just type
</p>
<command-line>$ ./configure &amp;&amp; make &amp;&amp; make install</command-line>
<p>
This will install the following packages with ocamlfind:
<code>xtmpl</code>, <code>xtmpl.ppx</code>, <code>xtmpl.js</code>.
</p>
</subsection>
</section>

</prepare-toc>
</contents>
</sw-page>