<sw-page title="Xtmpl"
main_="true"
stog:site-description="Xml template library for OCaml"
stog:site-email="maxence 'DOT' guesdon 'AT' inria 'DOT' fr"
stog:site-url="https://www.good-eris.net/xtmpl"
stog:rss-length="10"
stog:section-counter="false"
stog:subsection-counter="false"
stog:use="software"
navbar-home="active"
with-contents="true"
>
<stog:ml foo=""><icode lang="ocaml" defer_="1"><contents/></icode></stog:ml>
<stog:xml foo=""><icode lang="xml" defer_="1"><contents/></icode></stog:xml>
<stog:hxml foo=""><hcode lang="xml" defer_="1"><contents/></hcode></stog:hxml>
<stog:oc error-exc="true" toplevel="true">
<ocaml-eval defer_="1" toplevel="&lt;toplevel/&gt;" error-exc="&lt;error-exc/&gt;">
<contents/></ocaml-eval>
</stog:oc>

<contents>
<section title="What is Xtmpl ?">
<p>Xtmpl is a XML templating <a href="refdoc/index.html">library</a> for OCaml.
It comes with
a <doc href="doc#ppx">ppx preprocessor</doc> which creates functions from templates.
</p>
<p>Development is hosted <ext-a href="https://framagit.org/zoggy/xtmpl">on Framagit</ext-a>.</p>

</section>

<section title="License">
<p>Xtmpl is released under the <a href="http://www.gnu.org/licenses/lgpl.html">LGPL v3</a>.</p>
</section>

<section title="Author and contact">
<p>Maxence Guesdon <tt>&lt;Maxence 'DOT' Guesdon 'AT' inria 'DOT' fr&gt;</tt></p>
</section>
</contents>
</sw-page>
